<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Dashboard BDE</title>
</head>
<body>
  <h1>Bienvenue dans le Dashboard du BDE</h1>
  <br>
  <h2>Espace BDE</h2>

  <nav>
    <ul>
      <li><a href="/clubs.html">📋 Liste des clubs</a></li>
      <li><a href="/calendar.html">📅 Calendrier des événements</a></li>
      <li><a href="/ajouter-club.html">➕ Ajouter un club</a></li>
    </ul>
  </nav>

  <br>

  <form action="/logout" method="GET">
    <button type="submit">Se déconnecter</button>
  </form>
</body>
</html>
