
#event-form {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
  }
  
  #event-form input, #event-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #event-form button {
    padding: 10px 15px;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #event-form button#close-form {
    background: #dc3545;
    margin-left: 10px;
  }
  
  /* Style pour les options de filtre */
  #filter-options {
    display: flex;
    flex-direction: column;
  }
  
  .filter-option {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .filter-option:last-child {
    border-bottom: none;
  }
  
  .filter-option input[type="checkbox"] {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    accent-color: #007BFF;
    cursor: pointer;
  }
  
  .filter-option label {
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .filter-option input[type="checkbox"]:checked {
    background-color: #007BFF;
  }
  
  #club-selection {
    margin-bottom: 20px;
  }
  
  #club-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .club-option {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .club-option input[type="radio"] {
    margin-right: 8px;
    cursor: pointer;
  }
  
  .club-option label {
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  