<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Clubs</title>
    <link rel="stylesheet" href="/public/css/clubs.css">
    <link rel="shortcut icon" type="image/icon" href="assets/logo/p_transparent.png"/>
    
    
</head>
<body>

    <div id="club-describ">
        <h1>Liste des Clubs</h1>
    </div>

    <div class="container">
        <div id="clubs-list">
        <!-- La liste des clubs sera affichée ici -->
        </div>
    </div>

    <script src="clubs_list.js"></script>

</body>
</html>
