<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ajouter un Événement</title>
  <link rel="stylesheet" href="/public/css/edit.css">
  <link rel="shortcut icon" type="image/icon" href="assets/logo/p_transparent.png"/>



		<script src="../script.js"></script>

</head>
<body>
  <section id="welcome-hero" class="welcome-hero">
  <div class="container">

    <!-- Ajout d'événement ici -->
    <div id="event-form-container">
      <h3>Ajouter un Événement</h3>
      <input type="text" id="event-title" placeholder="Titre de l'événement" required>
      <textarea id="event-description" placeholder="Description" required></textarea>
      <input type="datetime-local" id="event-datetime" required>
      <input type="text" id="event-location" placeholder="Lieu de l'événement" required>
      <div class="checkbox-container">
        <input type="checkbox" id="event-visible">
        <label for="event-visible">
          <span class="custom-checkbox"></span>
          Visible dans le calendrier
        </label>
      </div>
      <button id="add-event">Ajouter l'événement</button>
    </div>

    <!-- Section de personnalisation du club -->
    <div id="customization-container">
      <h3>Personnalisation du Club</h3>
      <label for="club-description">Description du Club :</label>
      <textarea id="club-description" rows="4" cols="50"></textarea>
      <button id="save-description">Enregistrer la Description</button>
    
      <div class="color-picker-container">
        <label for="club-color">Couleur du Club :</label>
        <div class="color-input-container">
          <input type="color" id="club-color" name="club-color" value="#ffffff">
          <span class="color-advice">Nous vous conseillons de prendre une couleur claire pour que la description de votre événement soit visible.</span>
        </div>
      </div>
      <button id="save-color">Enregistrer la Couleur</button>
    </div>
    
    
    

    <!-- Section Mes événements -->
    <div id="event-describ">
      <h2>Mes événements :</h2>
    </div>
    <div id="my-events-container">
      <!-- Les événements seront affichés ici -->
    </div>
  </div>
  </section>
  <script src="edit_Calendrier.js"></script>
</body>
</html>
