<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Utilisateur</title>
</head>
<body>
  <h1>Bienvenue sur le site de Polytech Angers</h1>

  <nav>
    <ul>
      <li><a href="/calendar.html">📅 Voir le calendrier des événements</a></li>
      <li><a href="/clubs.html">📋 Voir la liste des clubs</a></li>
    </ul>
  </nav>

  <br>
  <div>
    <button onclick="window.location.href='/login.html'">Se connecter</button>
  </div>
  <br>

  <form action="/logout" method="GET">
    <button type="submit">Se déconnecter</button>
  </form>
</body>
</html>
